// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  color: black;
  :hover {
     color: grey;
     background-color: white;
   }
}

h1 {
  color: black;
}

h3 {
  color: darkblue
}

